/*

# folders
!/gradle
!/src
!/unused

# files
!/.gitignore
!/README.md
!/LICENSE.md
!/build.gradle
!/gradlew
!/gradlew.bat

!/dependencies.gradle
!/gradle.properties
!/repositories.gradle
!/settings.gradle
